<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="css/cplus-active-99.css">
</head>
<body>
	<div class="cplus-active-99">
		<div class="logo">
			<!-- <img src="libs/img/21_02.png" /> -->
			<img src="libs/img/banner.jpg" />
		</div>	
		<div class="content">
			<div class="content-text">
				<p>您的好朋友送您一张栖家洗衣卷,点击领取</p>
				<p>凭此卷到店支付后99元即可洗5件冬装,本优惠卷不可拆分多次使用</p>
				<p>(皮衣/草衣/PU/真毛领/奢侈品等除外)</p>
				<p class="active">充值卡用户不可使用余额抵扣本活动中的支付金额</p>
			</div>
			<div class="content-main">
				<input type="text" placeholder="输入手机号领取优惠券" class="enterNumber"/>
				<input type="button" name="" value="点击领取" class="getCode" ng-click="getCode()"/>
			</div>
		</div>
	</div>

</body>
</html>